<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shty.collect.dao.fb.OverviewWorkdescriptionsMapper">
	<insert id="insert_OverviewWorkdescriptions" parameterType="com.shty.collect.domain.fb.OverviewWorkdescriptions">
		insert into tb_facebook_overview_work_descriptions (FBoverview_work_id,descriptions,position) values
		(#{FBoverview_work_id},#{descriptions},#{position})
	</insert>

	<delete id="delete_FbOverviewWork">
		delete from tb_facebook_overview_work where FBTarget_id =
		#{FBTarget_id}
	</delete>
</mapper>