<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shty.collect.dao.fb.OverviewSkillsMapper">
	<insert id="insert_overviewSkills" parameterType="com.shty.collect.domain.fb.OverviewSkills"  useGeneratedKeys="true" keyProperty="id">
		insert into tb_facebook_overview_skills (infoKey,infoValue,FBTarget_id) values
		(#{infoKey},#{infoValue},#{FBTarget_id})
	</insert>
	
	<delete id="delete_overviewSkills">
		delete from tb_facebook_overview_skills where FBTarget_id =
		#{FBTarget_id}
	</delete>
</mapper>
