<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shty.collect.dao.TbCountMapper">

	<select id="getTwitterCountByDate" parameterType="java.lang.Integer" resultType="com.shty.collect.domain.TbTwitterCount">
    select count(*) AS count,date_sub(curdate(),interval #{number} day) AS dateTime from tb_twitter_timeline t where DAY(CreateTime) = DAY(NOW())-#{number}
	</select>
</mapper>